
body {

    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  
}

.SmallerBody {  

    background-color: blue;
    width: 1000px;
    min-width: 0;
}



.HEADER {

    display: flex;
    align-items: center;
    padding-top: 20px;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
   
}



.LogoHeaderLeft {

    font-size: 36px;
    color: #F9FAF8;
    font-weight: 900;
  

}

.HeaderRight {

    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 16px;

}






.HEROSECTION {

    display: flex;
    align-items: center;
    background-color: #1F2937;
   padding: 100px;
    justify-content: space-between;
    gap: 80px;
    

  
    
  
  
   

}

.HeroLeft {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;


    max-width: 400px;
 
    
   
   
 
    
}



.HeroTitle {

    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0;
  
}

.HeroDescription {

    color: #E5E7EB;
    flex: 1 1 auto;
    flex-basis: 300px;
    margin-bottom: 20px;
    
   
}

.HeroImage {

    height: 300px;
   width: auto;
     

}



.MainTop {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    

}


.MainTitle {

    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 20x;
}

.MainImages {
    display: flex;
    align-items: center;
    gap: 20px;

}

p {

    margin-top: 8px;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
}

img.MainImage {

    width: 200px;
    height: auto;
    max-height: 200px;
    border-radius: 8%;
    border: 3px solid red;
}


.MainMiddle {

    background-color: #9e9ea0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
   
   
}

.MainQuote {

   font-size: 36px;
   color: #1F2937;
   font-weight: 200;
   width: 600px;

   font-style: italic;
   margin-bottom: 10px;
   

}

.MainQuoteAuthor {

    text-align: right;
    width: 550px;
    font-weight: 600;
    font-size: 20px;
    

}



button.ButtonSignUp {

    background-color: #3882F6;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
   
}





ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}


